<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>ecosparkgreentech</title>
    <link rel="stylesheet" href="/style/product.cart.css">
</head>

<body>

    <main class="page">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2>Shopping Cart</h2>
                    <p>"Review the items in your cart before proceeding to checkout. Make sure you have everything you
                        need!".</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="items" data-th-if="${order == null}"><h2>No item added</h2></div>
                            <div class="items" data-th-if="${order != null}">
                                <div class="product" data-th-each="item : ${order.orderItems}">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img data-th-src="|/admin/productimage/${item.product.productId}|" height="130">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-5 product-name">
                                                        <div class="product-name">
                                                            <a href="#" data-th-text="${item.product.productTitle}"></a>
                                                            <p data-th-text="${item.product.productDescription}"></p>
                                                            <div class="product-info">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 quantity">
                                                        <label for="quantity">Quantity:</label>
                                                        <input id="quantity" type="number" value="1"
                                                            class="form-control quantity-input">
                                                    </div>

                                                    <div class="cart-item-actions">
                                                        <a data-th-href="|/product/cart/remove?orderItem=${item.orderItemId}|"
                                                            class="btn-remove">Remove</a>
                                                    </div>        

                                                    <div class="col-md-3 price">
                                                        <span data-th-text="|${item.orderItemPrice}|"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>
                                <div class="summary-item"><span class="text">Subtotal</span><span
                                    th:if="${order != null}" class="price" data-th-text="|${order.orderTotalPrice}|"></span></div>
                                <div class="summary-item"><span class="text">Discount</span><span
                                        class="price">$0</span></div>
                                <div class="summary-item"><span class="text">Shipping</span><span
                                        class="price">$0</span></div>
                                <div class="summary-item"><span class="text">Total</span><span th:if="${order != null}" class="price" data-th-text="|${order.orderTotalPrice}|">$360</span>
                                </div>
                                <a href="/customer/placeorder" data-th-if="${order != null}" class="btn-checkout">
                                    Place Order
                                </a>    
                                <div class="back-to-shop">
                                    <a href="/customer/home">&leftarrow;<span class="text-muted">Back to home</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>