<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Spark - Green Technology Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/product.home.css">
</head>
<body>
    <div class="header">
        <header style="text-align:center"><h2>Ecospark</h2></header>
        <form class="example">
            <input type="text" placeholder="What are you looking for?" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
       
    </div>
    <footer>Your decisions shape the future</footer>
</body>
</html>
