<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment/common::head}"></head>

<body>
  <link rel="stylesheet" href="/style/product.home.css">

  <header data-th-replace="~{fragment/common :: header}"></header>

  <!-- Hero Section -->
  <section class="hero">
    <div data-th-replace="~{fragment/common :: customerNav}"></div>
    <div class="container">
      <div class="heading">BUILT FOR <br> EXCEPTIONAL <br> TOUGHNESS</div>
      <div class="warranty">2 YEARS WARRANTY#</div>
      <div class="sub-heading">Energy Efficient Chargers</div>
    </div>
  </section>

  <main>
    <aside class="filter-section">
      <!-- <input type="checkbox"> -->
      <label for="category-filter">Category:</label>
      <select id="category-filter">
        <option value="all">All</option>
        <option value="all">chargers</option>
        <option value="all">powerbanks</option>
        <option value="all">electric scooty</option>
      </select>
      <br>
      <label for="price-filter">Max-price:</label>
      <input type="number" id="price-filter" value="1000">
    </aside>
    <div class="product_section" data-th-if="${param.category != null}">
      <h2 data-th-text="|Matching items for ${category.categoryTitle}|"></h2>

      <div class="product-container">
        <article class="product" data-th-each="item : ${category.products}">
          <a data-th-href="|/product/product/pdp?product=${item.productId}|">
            <div class="img-container">
              <img class="image" data-th-src="|/admin/productimage/${item.productId}|" alt="">
            </div>
            <div class="product-title">
              <h4 data-th-text="${item.productTitle}"></h4>
            </div>
            <div class="product-action">
              <a data-th-href="|/product/cart/add?productId=${item.productId}|">Add to cart</a>
            </div>
          </a>
        </article>

        <div data-th-if="${#lists.size(category.products) == 0}">
          <h1>No Item Available</h1>
        </div>

      </div>
    </div>


    <div class="product_section" data-th-if="${param.search != null}">
      <h2 data-th-text="|Matching items for ${param.search}|"></h2>

      <div class="product-container">
        <article class="product" data-th-each="item : ${products}">
          <div class="img-container">
            <img src="/images/chargers1.jpeg" alt="img">
          </div>
          <div class="product-title">
            <h4 data-th-text="${item.productTitle}"></h4>
          </div>
          <div class="product-action">
            <a href="#">Add to cart</a>
          </div>
        </article>

        <div data-th-if="${#lists.size(products) == 0}">
          <h1>No Item Available</h1>
        </div>

      </div>
    </div>

  </main>

  </div>
  </section>

  <footer data-th-replace="~{fragment/common :: footer}"></footer>

</body>

</html>