<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecospark - Green technology store</title>
</head>

<body>
    <form>
        <input type="text" data-th-value="${category.categoryTitle}">
        <input type="text" data-th-value="${category.categoryDescription}">
        <input type="text" data-th-value="${category.categoryImageUrl}">
        <input type="text" data-th-value="${category.categoryStatus}">
    </form>
</body>

</html>