<!DOCTYPE html>
<html lang="en">
    <head data-th-replace="~{fragment/admin :: head}"></head>
<body>
    <link rel="stylesheet" href="/style/admin.order.css">
    <nav data-th-replace="~{fragment/admin :: navLink}"></nav>

    <section class="dashboard">
        <div data-th-replace="~{fragment/admin :: searchBox}"></div>
        <div class="title">
            <i class="fas fa-box"></i>
            <span class="text">Order</span>
        </div>
        <table>
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr data-th-each="order : ${orders}">
                    <td data-th-text="${order.orderId}"></td>
                    <td data-th-text="${order.user.userName}"></td>
                    <td data-th-text="${order.user.userAddress}"></td>
                    <td>
                        <ul>
                            <li data-th-each="item : ${order.orderItems}">
                                <span data-th-text="${item.Product.productTitle}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li data-th-each="item : ${order.orderItems}">
                                <span data-th-text="${item.orderItemQuantity}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <p class="status" data-th-class="'status ' + ${order.orderStatus.name().toLowerCase()}">
                        </p>
                        <span data-th-text="${order.orderStatus}"></span>
                        </p>
                    </td>
                    <td><strong data-th-text="'₹' + ${order.orderTotalPrice}"></strong></td>
                </tr>
            </tbody>

        </table>

    </section>
</body>
</html>