<!DOCTYPE html>
<html lang="en">
    <head data-th-replace="~{fragment/admin :: head}"></head>
<body>
    <link rel="stylesheet" href="/style/admin.order.css">
    <nav data-th-replace="~{fragment/admin :: navLink}"></nav>

    <section class="dashboard">
        <div data-th-replace="~{fragment/admin :: searchBox}"></div>
        <div class="title">
            <i class="fas fa-box"></i>
            <span class="text">Order</span>
        </div>
        <table>
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>446</td>
                    <td>5/11/2024</td>
                    <td>Ishita</td>
                    <td>Rourkela</td>
                    <td>Solar Panel</td>
                    <td>1</td>
                    <td>
                        <p class="status-delivered">Delivered</p>
                    </td>
                    <td><strong>&#8377;12000.00</strong></td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <td>445</td>
                    <td>5/11/2024</td>
                    <td>Ishita</td>
                    <td>Rourkela</td>
                    <td>Solar Panel</td>
                    <td>1</td>
                    <td>
                        <p class="status-delivered">Delivered</p>
                    </td>
                    <td><strong>&#8377;12000.00</strong></td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <td>446</td>
                    <td>5/11/2024</td>
                    <td>Ishita</td>
                    <td>Rourkela</td>
                    <td>Solar Panel</td>
                    <td>1</td>
                    <td>
                        <p class="status-delivered">Delivered</p>
                    </td>
                    <td><strong>&#8377;12000.00</strong></td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <td>446</td>
                    <td>5/11/2024</td>
                    <td>Ishita</td>
                    <td>Rourkela</td>
                    <td>Solar Panel</td>
                    <td>1</td>
                    <td>
                        <p class="status-delivered">Delivered</p>
                    </td>
                    <td><strong>&#8377;12000.00</strong></td>
                </tr>
            </tbody>

        </table>

    </section>
</body>
</html>