<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment/admin :: head}"></head>

<body>
    <link rel="stylesheet" href="/style/admin.product.css">
    <nav data-th-replace="~{fragment/admin :: navLink}"></nav>

    <section class="dashboard">
        <div data-th-replace="~{fragment/admin :: searchBox}"></div>

        <div class="title">
            <i class="fas fa-th-large"></i>
            <span class="text">Product</span>
            <button class="add-btn" onclick="openModal()">Add Product</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Image</th>
                    <th>Product Price</th>
                    <th>Product Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="productTable">

                <tr></tr>

            </tbody>
        </table>

        <!-- Modal -->
        <div id="productModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h3>Add Product</h3>

                <form action="/admin/product" id="product" method="post">
                    <label for="productName">Product Name:</label>
                    <input type="text" id="productName" name="productTitle">

                    <label for="productDesc">Product Description:</label>
                    <input type="text" id="productDesc" name="categoryDescription">

                    <label for="productImage">Product Image:</label>
                    <input type="file" id="productImage" name="productImageUrl">

                    <label for="productPrice">Price:</label>
                    <input type="text" id="productPrice" name="productPrice">

                    <label for="productStock">Stock:</label>
                    <input type="text" id="productStock" name="productStock">

                    <button class="save-btn" onclick="saveProduct()">Save</button>
                </form>
            </div>
        </div>
    </section>

    <script src="/script/product.js"></script>

</body>

</html>