.logo {
  width: 200px;
  height: 100px;
  display: flex;
  padding-top: 20px;
}

.logo img {
  width: 200px;
  height: 100px;
  object-fit: contain;
  padding-top: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #c3fdb1;
  color: #fff;
  height: 90px;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: auto;
  margin-left: 350px;
}

.dropdown {
  position: relative;
  margin-right: 10px;
}

.dropdown-button {
  background-color: white;
  padding: 8px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.dropdown-menu i {
  font-size: 0.5rem;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.search-input {
  flex: 1;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.search-button {
  background-color: whitesmoke;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #388e3c;
}

.icon i {
  margin-inline-start: 25px;
  color: black;
  font-size: 20px;
}

.icon i:hover {
  cursor: pointer;
}

/* Responsive Design */
/* @media screen and (max-width: 768px) {
  .logo {
    width: 100px;

  }

  header {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  }

  .icon {
    justify-content: center;
    margin-top: 10px;
  }
} */

/* @media screen and (max-width: 480px) {
  .logo {
    width: 100px;
  }

  .search-container {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .search-input {
    width: 100%;
    margin-bottom: 5px;
  }

  .dropdown-button {
    width: 100%;
    text-align: center;
  }
} */