.hero {
  width: 100%;
  height: 80vh;
  background-image: url('/images/banner10.jpeg');
  opacity: 1.5;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  /* padding: 0 50px; */
  color: white;
  position: relative;
  z-index: 1;
}

.product_section h2{
  text-align: center;
}

.container {
  width: 100%;
  padding: 50px;
}

.heading {
  font-size: 50px;
  font-weight: bold;
  color: #debe09;
  margin-bottom: 20px;
}

.sub-heading {
  font-size: 24px;
  color: #debe09;
  margin-bottom: 50px;
}

.warranty {
  font-size: 40px;
  color: #debe09;
  font-weight: bold;
  margin-bottom: 60px;
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  padding: 1rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* width: 250px;
  height: 200px; */
}

.product_description{
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.product-action {
  border: 0.5px solid black;
  padding: 5px;
  max-width: 250px;
  text-align: center;
  border-radius: 20px;
  margin-top: 0.8rem;
}

.product-action:hover{
  background-color: #389c68;
  color: white;
  cursor: pointer;
}

.image {
  width: 50%;
  /* height: 50px; */
  display: block;
  aspect-ratio: 2 2;
  object-fit: contain;
}

.category_filter{
  gap: 1rem;
  
}