<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    home page 1
    <h1>My page</h1>
    <h5>Sushrita</h5>
    <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum quidem nulla reiciendis,
         suscipit delectus accusantium consectetur!
         Expedita consequatur tenetur soluta fugit sint, provident, nam quasi nesciunt optio, at numquam fugiat.</h5>
</body>
</html>