<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Page</title>
    <link rel="stylesheet" href="/style/customer/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <form action="">
        <div class="contact-container">
            <div class="contact-info">
                <h2>
                    <center><u>Contact Us</u></center>
                </h2>
                <p><b>Welcome to Ecospark, your ultimate destination for vintage tech
                        and nostalgic treasures! Explore our handpicked selection and relive the golden era of
                        innovation!🚀✨</b></p>
                <div class="icon-text">
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <strong>Address</strong>
                        <p>Rourkela,Sundargardh,Odisha.</p>
                    </div>
                </div>
                <div class="icon-text">
                    <i class="fas fa-phone"></i>
                    <div>
                        <strong>Phone</strong>
                        <p>507-475-6094</p>
                    </div>
                </div>
                <div class="icon-text">
                    <i class="fas fa-envelope"></i>
                    <div>
                        <strong>Email</strong>
                        <p>vintronics2025@gmail.com</p>
                    </div>
                </div>
            </div>
            <!-- <p>suhasini</p> -->
            <div class="contact-form">
                <h3>Send Message</h3>
                <input type="text" placeholder="Full Name" required>
                <input type="email" placeholder="Email" required>
                <textarea rows="4" placeholder="Type your message..." required></textarea>
                <button type="submit">Send</button>
            </div>
        </div>
    </form>
</body>

</html>