<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment/common :: head }"></head>

<body>
  <link rel="stylesheet" href="/style/customer.home.css" />
  <script src="/script/slider.js" defer></script>

  <!-- Header Section -->
  <header data-th-replace="~{fragment/common :: header}"></header>

  <div data-th-replace="~{fragment/common :: customerNav}"></div>

  <!-- Hero Section -->
  <section class="hero">
    <div class="slider-container">
      <button id="slider-prevBtn">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button id="slider-nextBtn">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
      <div class="slider">
        <figure>
          <img src="/images/banner1.jpeg" alt="A clean world concept banner" />
          <figcaption>Innovations for a Cleaner World!</figcaption>
        </figure>

        <figure>
          <img src="/images/banner2.jpg" alt="A clean world concept banner" />
          <figcaption>Sustainable Solutions for a Greener Future!</figcaption>
        </figure>

        <figure>
          <img src="/images/banner3.webp" alt="A clean world concept banner" />
          <figcaption>
            Eco-Friendly Innovations for a Better Tomorrow!
          </figcaption>
        </figure>
      </div>
    </div>
    <!-- <div class="hero-buttons">
      <a href="#" class="btn-primary">Shop Collection</a>
      <a href="#" class="btn-secondary">Add to cart</a>
    </div> -->
  </section>

  <!-- features section -->
  <section>
    <div class="features">
      <div class="feature">
        <i class="fa-solid fa-truck-fast"></i>
        <h3>Free Shipping</h3>
        <p>Fresh Shipping on All our Orders</p>
      </div>
      <div class="feature">
        <i class="fa fa-headset"></i>
        <h3>Support 24/7</h3>
        <p>Contact us 24 hours a day</p>
      </div>
      <div class="feature">
        <i class="fa fa-undo"></i>
        <h3>100% Money Back</h3>
        <p>You have 30 days to return</p>
      </div>
      <div class="feature">
        <i class="fa fa-lock"></i>
        <h3>Payment Secure</h3>
        <p>We ensure secure payment</p>
      </div>
    </div>
  </section>


  <th:block th:each="widget : ${widgets}" th:switch="${widget.widgetName}">
    <th:block th:case="'Best-Selling Eco-Friendly Products'">
      <section th:replace="fragment/home.common :: featuredProduct(${widget.products})"></section>
    </th:block>

    <th:block th:case="'Banner'">
      <section th:replace="fragment/home.common :: banner(${widget.products})"></section>
    </th:block>

    <th:block th:case="'New Arrivals Products'">
      <section th:replace="fragment/home.common :: newArrivals(${widget.products})"></section>
    </th:block>
  </th:block>

  <!-- Testimonial section -->
  <section class="testimonial-section">
    <h2>What People Say</h2>

    <div class="all-testimonial">
      <div class="testimonial">
        <div class="testimonial-text">
          <h3>Puja Verma <span>/ 3rd June, 2024</span></h3>
          <div class="stars">★★★★★</div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard.
          </p>
        </div>
        <div class="testimonial-img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBwgu1A5zgPSvfE83nurkuzNEoXs9DMNr8Ww&s"
            alt="Puja Verma" />
        </div>
      </div>

      <div class="testimonial">
        <div class="testimonial-text">
          <h3>Freek Putnam <span>/ 3rd June, 2024</span></h3>
          <div class="stars">★★★★★</div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard.
          </p>
        </div>
        <div class="testimonial-img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdHoEvVXwwHJQEFlclzVc_wrEELWYQEbd6mw&s"
            alt="Freek Putnam" />
        </div>
      </div>

      <div class="testimonial">
        <div class="testimonial-text">
          <h3>Puja Verma <span>/ 3rd June, 2024</span></h3>
          <div class="stars">★★★★★</div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard.
          </p>
        </div>
        <div class="testimonial-img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqbu3vikTenBD-KfH9gwGG7N_rtaCwa8rxLA&s"
            alt="Puja Verma" />
        </div>
      </div>

      <div class="testimonial">
        <div class="testimonial-text">
          <h3>Freek Putnam <span>/ 3rd June, 2024</span></h3>
          <div class="stars">★★★★★</div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard.
          </p>
        </div>
        <div class="testimonial-img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQksR3Lt2Iy2rlmUKvJmc27GcXpe297gINhTA&s"
            alt="Freek Putnam" />
        </div>
      </div>
    </div>
  </section>

  <!-- footer section -->
  <footer data-th-replace="~{fragment/common :: footer}"></footer>
</body>

</html>