<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecospark-Green tecnology store</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:wght@100..900&display=swap">
    <link rel="stylesheet" href="/style/logIn.sign.css">
</head>

<body>
    <div class="signup-box">
        <h1>Sign Up</h1>
        <form action="">
            <label>First Name</label>
            <input type="text" placeholder="">
            <label>Last Name</label>
            <input type="text" placeholder="">
            <label>Email</label>
            <input type="email" placeholder="">
            <label>Password</label>
            <input type="password" placeholder="">
            <label>Confirm Password</label>
            <input type="password" placeholder="">
            <input type="button" value="Submit">
        </form>
        <p>By clicking the sign Up button, You agree to our <br>
            <a href="#">Terms and Condition</a> and <a href="#"> Policy And Privacy</a>
        </p>
    </div>
    <p class="para-2">Already have an account?<a href="/logIn/home"> Login here</a></p>
    <div class="circle"></div>

</body>

</html>