* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: lightgreen;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 5%;
    padding: 5px;
    background: lightgreen;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }